
# Timeout in seconds that Limine will use before automatically booting.
TIMEOUT=3

TERM_WALLPAPER=boot:///boot/background.bmp
TERM_WALLPAPER_STYLE=stretched

# The entry name that will be displayed in the boot menu
:MilkyOS
	COMMENT=MilkyOS
    # Change the protocol line depending on the used protocol.
    PROTOCOL=limine

    # Path to the kernel to boot. boot:/// represents the partition on which limine.cfg is located.
    KERNEL_PATH=boot:///sys/mkernel.sys
	KERNEL_CMDLINE=kerncmd
